<settings>
	<configs>
		
	</configs>		
	<files>
		<file text="shadow" loc="/etc/shadow" />
        <file text="passwd" loc="/etc/passwd" />
        <file text="issue.net" loc="/etc/issue.net" />
        <file text="hosts" loc="/etc/hosts" />
        <file text="version" loc="/proc/version" />
        <file text="interfaces" loc="/etc/network/interfaces" />
		<file text="hosts" loc="C:\\Windows\\System32\\drivers\\etc\\hosts" is_win="1" />
	</files>
	
	<commands>
		<command text="ps aux" cmd="ps aux" />
        <command text="ifconfig" cmd="ifconfig" />
        <command text="ipconfig" cmd="ipconfig" is_win="1" />
        <command text="tasklist" cmd="tasklist" is_win="1" />
        <command text="net user" cmd="net user" is_win="1" />
        <command text="net accounts" cmd="net accounts" is_win="1" />
        <command text="ver" cmd="ver" />
        <command text="whoami" cmd="whoami" />
		<command text="whoami" cmd="whoami" is_win="1" />
	</commands>
</settings>